<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-group-1.0">
    <title>P. Lakshmana rao & Co | Files</title>
    <link rel="stylesheet" href="views.css">
    <script src="https://kit.fontawesome.com/7fd178d5a2.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-box">
        <div class="file-box">
            <div class="file-top">
                <a href="#" class="Btn"><span>Back</span></a>
                <h2 >2021-2022 Assessment Year</h2>
            </div>
            <div class="file-down">
                <div class="css-296">
                    <div class="file-area">
                        <form action= "/dashboard/others/downloadFile/<%= user.others[i].filename  %>" method="post">
                            <div class="divz divh">
                                <div class="tdc">
                                    GSdiv1BDGFHHHHHHHHH
                                </div>
                                <input type="text" name="downloadLink" id="downloadLink" value="<%= user.others[i].link %>" hidden>
                                <div>
                                    <div class="select">
                                        <button class="down-btn" type="submit"><i class="fa-solid fa-download"></i>Download</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action= "/dashboard/others/downloadFile/<%= user.others[i].filename  %>" method="post">
                            <div class="divz divh">
                                <div class="tdc">
                                    GSdiv1B
                                </div>
                                <input type="text" name="downloadLink" id="downloadLink" value="<%= user.others[i].link %>" hidden>
                                <div>
                                    <div class="select">
                                        <button class="down-btn" type="submit"><i class="fa-solid fa-download"></i>Download</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action= "/dashboard/others/downloadFile/<%= user.others[i].filename  %>" method="post">
                            <div class="divz divh">
                                <div class="tdc">
                                    GSdiv1B
                                </div>
                                <input type="text" name="downloadLink" id="downloadLink" value="<%= user.others[i].link %>" hidden>
                                <div>
                                    <div class="select">
                                        <button class="down-btn" type="submit"><i class="fa-solid fa-download"></i>Download</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action= "/dashboard/others/downloadFile/<%= user.others[i].filename  %>" method="post">
                            <div class="divz divh">
                                <div class="tdc">
                                    GSdiv1B
                                </div>
                                <input type="text" name="downloadLink" id="downloadLink" value="<%= user.others[i].link %>" hidden>
                                <div>
                                    <div class="select">
                                        <button class="down-btn" type="submit"><i class="fa-solid fa-download"></i>Download</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action= "/dashboard/others/downloadFile/<%= user.others[i].filename  %>" method="post">
                            <div class="divz divh">
                                <div class="tdc">
                                    GSdiv1B
                                </div>
                                <input type="text" name="downloadLink" id="downloadLink" value="<%= user.others[i].link %>" hidden>
                                <div>
                                    <div class="select">
                                        <button class="down-btn" type="submit"><i class="fa-solid fa-download"></i>Download</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>