@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;600&display=swap');   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}
/* ==============HEADER======================== */
.css-222hi{
    box-sizing: border-box;
    min-width: 0px;
    position: fixed;
    top: 0px;
    z-index: 10;
    box-shadow: rgb(152 157 189 / 20%) 0px 1px 0px;
    width: 100%;
    justify-content: center;
    height: 84px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.css-223hi{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.css-qwert{
    min-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-logo {
    border-radius: 15px;
}

.text-area {
    padding: 10px;
}

.head-name {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}
.text-area{
    font-size: 13px;
}

.cheat {
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}
a{
    position: relative;
    text-decoration: none;
    color: black;
}
.css-ws7{
    display: flex;
    align-items: center;
}
.css-ws7 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}
.nav-links li a {
    transition: all 0.3s ease;
    color: black;
}
.nav-links li a:hover {
    color: #003847;
}
.nav-links a:hover {
    color: #003847;
    padding-bottom: 10px;
}
.nav-links {
    list-style: none;
}
.nav-links a:hover::before {
    transform: scaleX(1);
}
.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.css-h{
    padding: 10px;
    color: #003847;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 1px solid silver;
    text-align: center;
    border-radius: 7px;
}
.css-ht{
    padding: 10px;
    background-color: #003847;
    border-radius: 7px;
    color: #fff;
    margin-left: 15px;
    font-weight: 400;
}
.css-ht:hover{
    border-bottom: none;
}





/* NAV BAR */
.mobile-hamburger {
    display: none;
    align-items: center;
}
.css-item{
    padding: 1rem;
}
.css-item ul{
    list-style: none;
}
.overlay {
    display: none;
    height: 600px;
    width: 0%;
    opacity: 95%;
    height: calc(100vh - 10px);
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.7s;
}
.blocker {
    position: fixed;
    top: 0px;
    left:0 ;
    bottom: 0;
    margin-top: 85px;
    margin-left: 70%;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,0);
}
 .css-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    padding: 1rem 0rem;
    border-bottom: 1px solid #f0f0f0;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.overlay .css-ht4{
    padding: 10px;
    background-color: #003847;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
}

.closebtn{
    position: absolute;
    right: -3px;
    top: -8px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    color: #003847;
    margin: 5px 15px;
    display: block;
    transition: 0.3s all ease-in;
}

.overlay a:hover {
    color: #fff;
    background-color: #003847;
}








/* ==============FOOTER==================== */

.foot-css-123{
    padding:0rem 3rem 4rem 5rem;
    display: flex;
    flex-direction: row;
    background-color: #003847;
    margin-top: -5px;
}
.foot-css-126{
    background: white;
    color: #2f4d5a;
    text-align: center;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    gap: 25px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.foot-css-126 .social-links {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.foot-css-126 .social-links a {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    background: #003847;
    color: #fff;
    padding: 8px 0;
    border-radius: 50%;
    margin  : 0px 14px;
    width: 36px;
    height: 36px;
    text-align: center;
}
.foot-css-125 h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px dashed #003847;
    padding-bottom: 12px;
    color: white;
}

.foot-css-125 ul li {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.foot-css-125 ul li a {
    
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: white;
}

.foot-css-125 ul li i {
    padding: 0 15px;
    font-size: 18px;
    line-height: 1;
    color: white;
}
.copyright {
    text-align: center;
    padding-top: 30px;
}
.credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
    .mobile-hamburger {
        display: flex;
    }
    .overlay a {
        font-size: 20px;
    }
    .image-logo{
        width: 276px;
    }
    
    .css-ws7,.css-img {
        display: none;
    }
    .row-f{
        margin-left: -10px;
        margin-right: -15px;
        flex-direction: column;
    }
    .foot-css-123{
        padding:3rem 2rem 4rem 2rem;
        flex-direction: column;
        gap: 45px;
    }
    .foot-css-126{
        width: 100%;
        
    }
    .image-logo-ft{
        width: 226px;
    }
}
