#alert-box {
    position: fixed;
    
    padding: 20px;
    background-color: #ddd;
    display: none;
    animation: fadein 0.5s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  