@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* ==============HEADER======================== */
.css-222hi{
    box-sizing: border-box;
    min-width: 0px;
    position: fixed;
    top: 0px;
    z-index: 10;
    box-shadow: rgb(152 157 189 / 20%) 0px 1px 0px;
    width: 100%;
    justify-content: center;
    height: 84px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.css-223hi{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.css-qwert{
    min-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-logo {
    border-radius: 15px;
}

.text-area {
    padding: 10px;
}

.head-name {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.cheat {
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}
a{
    text-decoration: none;
    color: black;
}
.css-ws7{
    display: flex;
    align-items: center;
}
.css-ws7 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.css-a{
    padding: 0 1rem;
    color: #003847;
    font-weight: 600;
    padding-bottom: 1rem;
    transition: .1s all;
}
.css-a:hover{
    border-bottom: 3px solid #003847;
}
.css-h{
    font-weight: 700;
    letter-spacing: 0.5px;
}
.css-ht{
    padding: 10px;
    background-color: #003847;
    border-radius: 7px;
    color: #fff;
    margin-left: 15px;
    font-weight: 400;
}
.css-ht:hover{
    border-bottom: none;
}

/* ===================================================== */
.css-dw23{
    padding-top: 62px;
    min-width: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.css-box{
    min-width: 0;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 32px;
    margin-top: 64px;
    flex-direction: column;
    background-color: #EDEFFE;
    margin-left: 58px;
    margin-right: 58px;
    display: flex;
}

.css-rty{
    min-width: 0;
    width: 100%;
    margin: 0px 20px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.css-text{
        flex-direction: column;
        max-width: 500px;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
}
.css-head{
    font-weight: 700;
    color: #003847;
    margin-bottom: 36px;
    line-height: 48px;
}
.css-btn{
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;

}
.css-htn{
    width: 130px;
    padding: 9px;
    text-align: center;
    background-color: transparent;
    border-radius: 7px;
    border: 4px solid #003847;
    color: #003847;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.css-img img{
    height: 350px;
}
.css-min{
    transform: translateY(-75px);
    border-radius: 6px;
    box-shadow: 0px 17.7515px 47.3372px rgb(22 27 45 / 10%);
    border-bottom-color: #027a60;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    z-index: 5;
    width: 480px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
}
.css-ca{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.css-h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}
#about {
    padding: 3rem 0rem;
    background-color: whitesmoke;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.about-head {
    display: flex;
    justify-content: space-evenly;
    width: 300px
}

.st-line {
    width: 5px;
    height: 68px;
    background-color: #003847;
    border-radius: 3px;
}

.about-head p {
    text-align: left;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #027a60;
    margin-top: -4px;
    margin-left: 10px;
}

.about-us-area {
    margin: 20px;
    padding: 3rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.about-title {
    font-size: 2.2rem;
    color: #003847;
    text-transform: uppercase;
}

.about-matter p {
    margin-bottom: 20px;
}

.about-m {
    width: 60%;
}

.our-service {
    background: #fff;
    width: calc(100% - 100px);
    padding-top: 25px;
    margin-bottom: 2rem;
    display: block;
    margin: 0 auto;
}

.set-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.set-head h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
}

.line-hd1 {
    margin: 10px;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background-color: #027a60;
}

.service-provided {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}

.grid-area {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.ser-card {
    width: 310px;
    height: 350px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    padding: 1.2rem;
    border: 1px dashed #003847;
    display: block;
    margin: 0px auto;
    transition: all 0.3s;
}
.ser-card i {
    display: block;
    margin: 10px auto;
    font-size: 3.2rem;
    text-align: center;
}

.ser-card h2 {
    text-transform: capitalize;
    text-align: center;
    margin: 10px auto;
}

.ser-card p {
    text-align: center;
}

.ser-card:hover {
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;

}

/* fooooterrr */
footer {
    background: #003847;
    padding: 0 0 30px 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.col-1f ul li a:hover {
    color: aquamarine;
}

.footer-top {
    padding: 60px 0px 30px 0px;
}

.main-text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row-f {
    display: flex;
    flex-direction: row;
}

.col-1f {
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-info {
    margin-top: -105px;
    margin-bottom: 15px;
    background: white;
    color: #2f4d5a;
    border-top: 4px solid #027a60;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.image-foot-logo {
    border-radius: 20px;
}

.footer-info p {
    line-height: 24px;
    margin: 10px 0 0 10px;
}

.footer-info em {
    font-style: italic;
}

.footer-info .social-links {
    padding-top: 2rem;
}

.footer-info .social-links a {
    font-size: 1.4rem;
    display: inline-block;
    background: #003847;
    color: #fff;
    padding: 8px 0;
    border-radius: 50%;
    margin-right: 4px;
    width: 36px;
    height: 36px;
    text-align: center;
}

.col-1f h4 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px dashed #bebebe;
    padding-bottom: 12px;
}

.col-1f ul li {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.col-1f ul li a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

.col-1f ul li i {
    padding: 0 15px;
    color: #bebebe;
    font-size: 18px;
    line-height: 1;
}

.footer-down {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.footer-down::before {
    display: table;
    content: " ";
}

.footer-down .copyright {
    border-top: 1px solid #385b6b;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.footer-down .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.footer-down::after {
    clear: both;
    display: table;
    content: " ";
}

/* MOBILE VIEW */
/* NAV BAR */
.mobile-hamburger {
    display: none;
    align-items: center;
}

.overlay {
    display: none;
    height: 667px;
    width: 0%;
    margin: 30px 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.7s;
}
.blocker {
    position: fixed;
    top: 0px;
    left:0 ;
    bottom: 0;
    margin-top: 70px;
    margin-left: 150px;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,0);
}
 .css-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    padding: 1rem 0rem;
    border-bottom: 1px solid #f0f0f0;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.overlay .css-ht4{
    padding: 10px;
    background-color: #003847;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 500;
    color: #003847;
    margin: 5px 15px;
    display: block;
    transition: 0.3s all ease-in;
}

.overlay a:hover {
    color: #fff;
    background-color: #003847;
}
@media screen and (max-width: 450px) {
    .mobile-hamburger {
        display: flex;
    }
    .css-ws7,.css-img {
        display: none;
    }
    .css-dw23{
        padding-top: 32px;
    }
    .css-min{
        width: 300px;
    }
    .css-btn{
        justify-content: center;
    }
    .css-h2{
        font-size: 1.2rem;
    }
    .css-rty{
        width:80%;
    }
    .css-box{
        margin-left: auto;
        margin-right: auto;
    }
    .overlay a {
        font-size: 20px;
    }
    .image-logo {
        width: 60px;
        height: 50px;
        border-radius: 7px;
    }
    .css-222hi{
        height: 74px;
    }
    .text-area{
        font-size: 13px;
    }
    .logo-area {
        font-size: .88rem;
    }

    .image-area {
        height: 550px;
    }

    .image-slide h4 {
        font-size: 2rem;
    }

    .about-head {
        width: 250px;
    }

    .about-m {
        width: 100%;
    }

    .grid-area {
        grid-template-columns: 1fr;
    }

    .about-us-area {
        flex-direction: column;
    }
    .row-f{
        margin-left: -10px;
        margin-right: -15px;
        flex-direction: column;
    }
    .footer-info{
        margin-top: 0px;
    }
    footer{
        margin-top: 1rem;
    }
    .col-1f{
        width: 100%;
        min-height: 1px;
        padding: 0px 15px;
    }
}