@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #67B26F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);
  background: linear-gradient(to right, #4ca2cd, #67B26F);
  height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 0px 10px;
}
.container-css-123{
  margin: 100px auto 30px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}
.from-css-124{
  text-align: center;
  padding: 0px 10px 30px;
}
.input-css-125{
  margin-bottom: 15px;
}
.head-css-123{
  font-weight: 500; 
  font-size:30px;
  color: #027a60;
  padding-top: 20px;
}
hr{
  margin: 10px 0px 20px;
}
.input-group-css i{  
  position: absolute;
  font-size: 17px;
}
.input-group-css .icon{
  padding-left: 18px;
  padding-top: 20px;
  min-width: 40px;
  color: #027a60;
}
.input-group-css .Input-css:focus{
  outline: none;
}
.input-group-css .Input-css{
  margin: 6px;
  width: 320px;
  border-radius: 5px;
  padding: .7rem;
  padding-left: 2.2rem;
  border: 1px solid #bebebe;
}
.form-btn-css{
  margin-bottom: 15px
}
.form-btn-css button{
  width: 85%;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #027a60;
  color: white;
  font-size: 20px;
}
.back-css{
  text-align: left;
  margin-left: 28px;
}
.back-css a{
  color: #4ca2cd;
}
.back-css a:hover{
  text-decoration:dashed;
}